<footer class="shrink-0 mt-1 py-2 bg-[#333] text-white border-t border-soild border-gray-400">
    <section class="container">
        <ul
            class="flex flex-wrap gap-x-3 sm:gap-3 sm:flex-row items-center justify-center md:justify-end md:gap-5 font-sans">
            <li><a href="/" class="font-sans">About</a></li>
            <li><a href="/" class="font-sans">Privacy Policy</a></li>
            <li><a href="/" class="font-sans">&copy; {{ year }} Headlines Hub<span class="text-red-500">.</span></a>
            </li>
        </ul>
    </section>
</footer>